<h1>新規登録</h1>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>  
<% end %>

<%= form_with model: @user, url: signup_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit "登録" %>
<% end %>

<p>すでにアカウントをお持ちですか？ <%= link_to "ログイン", login_path %></p>