<% @posts.each do |post| %>
  <div>ユーザー：<%= post.user.name %></div>
  <% if post.user != current_user && !current_user.following?(post.user) %>
    <%= button_to 'フォロー', relationships_path(id: post.user_id), method: :post %>
  <% else %>
    <%= button_to 'フォローを外す', relationship_path(id: post.user_id), method: :delete %>
  <% end %>
  <div>内容：<%= post.body %></div>
  <div>日時：<%= post.created_at %></div>
  <% if post.user_id == current_user.id %>
    <%= link_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか？"}  %>
  <% end %>
  <hr>
<% end %>
